/*** Body (general) ***/
/***Títulos***/
h3{  
	text-align: center;
	color:darkorange;
} 

/*** Header ***/
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightgoldenrodyellow ;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	max-width: 10%; 
	margin: 15px;
}

nav a{
	padding: 10px;
}

nav a:hover{
	color: white;
}






/*** Inicio ***/
#inicio{
	display: flex;
	height: 70 px;
	justify-content: center;
	align-items: center;
	background-color: yellow;
	padding: 20px;	
}

.container{
	display: flex;
	align-items: center;
}

.container img{
	display: flex;
	height 50px;
	margin: 15px;
}

.contenido div {
	width: 400px;
	height: 30px;
	border: 1px dotted blue;
	display: flex;
	flex-direction: row;
	justify-content: left; 
    align-items: center;
	padding: 8px;
	margin: 4px;
	background-color: #653427;
	
}

#numeros{
	color: #307ea8;
	font-size: 2em;
}
#letras{
	color: white;
	font-size: 1.5em;
}

/***Campaña***/
#campaña {
	text-align: center;	
}

#campaña img{
	max-width: 80%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 8px; 
}








