/*** Body (general) ***/

body{
	margin: 0;
	background-color: yellow;
	overflow: hidden;
}

/***Títulos***/
h3{  
	text-align: center;
	color:darkorange;
} 

/*** Header ***/
header{
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.93);
	height: 120px;
	color: white;
}

.inicio{
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
}

.inicio a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
	padding: 4px 4px;
	margin: 0 30px 0;
	width: 50.6px;
	height: 82px;
}

.inicio h2{
	font-size: 36px;
	margin: 0;
}

#texto_BobEsponja{
	width: 265px;
	margin-left: 430px;
}

nav {
	margin-right: 60px;
}

nav a{
	font-size: 19px;
	padding: 10px;
	margin: 0 6px;
	color: white;
}

nav a:hover{
	color: rgba(192, 68, 68, 0.8);
	font-size: 21px;
}



/*** Inicio ***/
#pantalla_principal{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	margin: 25px;
}

.container{
	display: flex;
	align-items: center;
}

.container img{
	display: flex;
	height 50px;
	margin: 15px;
}

.contenido div {
	width: 400px;
	height: 30px;
	border: 1px dotted blue;
	display: flex;
	flex-direction: row;
	justify-content: left; 
    align-items: center;
	padding: 8px;
	margin: 4px;
	background-color: #653427;
	
}

#numeros{
	color: #307ea8;
	font-size: 2em;
}
#letras{
	color: white;
	font-size: 1.5em;
}

/***Campaña***/
#campaña {
	text-align: center;	
}

#campaña img{
	max-width: 80%; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 8px; 
}








